# <u>Introducción al Python</u>

## ¿Qué es Python?

Python es un lenguaje de programación interpretado, orientado a objetos, de alto nivel y con semántica dinámica creado por Guido van Rossum en 1991.

A continuación haremos una breve introducción de los conceptos y operaciones básicas de Python.

## Celda de código

In [83]:
#Celda de código

4 + 5

9

Esto es un comentario dentro de una celda de texto
# Título nivel 1
## Título nivel 2
### Título nivel 3
#### Título nivel 4
##### Título nivel 5

<center> <u><i><b>Texto centrado</b></i></u> </center>

<i> Cursiva </i>

## Tipos de datos básicos

In [84]:
#Crear una variable
x = 25

In [85]:
#Consultar el contenido de una variable
x

25

In [86]:
# Asignación múltiple de variables
x, y, z = 1,2,3

In [87]:
x

1

In [88]:
y

2

In [89]:
x,y,z

(1, 2, 3)

In [90]:
#True = 3

### Datos Numéricos

In [91]:
a,b = 25,7

In [92]:
a + b

32

In [93]:
a - b

18

In [94]:
a * b

175

In [95]:
#División real
a / b

3.5714285714285716

In [96]:
#División entera
a // b

3

In [97]:
#Residuo (Operador módulo)
a % b

4

Al tener diversas operaciones y consultas dentro de una misma celda de código, todas las operaciones son ejecutadas pero solo la última consulta será visible en el output.

In [98]:
c = a / b
a, b, c

(25, 7, 3.5714285714285716)

In [99]:
#Consultar el tipo de dato de una variable
type(a), type(b), type(c)

(int, int, float)

In [100]:
c

3.5714285714285716

In [101]:
#Función útil de redondeo, no requiere importar ningún paquete o módulo adicional

round(c, 2)

3.57

In [102]:
#Operador exponencial
24 ** 7

4586471424

In [103]:
#Números muy grandes son soportados en Python
5424157445487845 ** 100

27116193136692591104682440379141732091722167354991582274848721451310630646079189677776822388976332662393324185081056289629455173962963042261414172902506835200646805776871574671200726410686596704788209896258036144900392202580904571767639774973048167764816428714130884544505583950113541776969257970295405435716869372794613831810356083475072494311942927067472523240554194309402194405067013211220931329782420525520611221403040587435810328413003983672497402056133210797767892336054950864847982814248145226273914546050071659119490633147678809051651853327531266145782055850121159435427881870440351952370722969378975016306031918912345329916645527437363801036898250775949372634453489848208141074135794220983181224007599071156050645285091649952246361354289522022832129171020729779154386310331830826565128942587481890689261527049633277793355571443326117264004842583421456275815758842435849142245227002120785910451753813540396272432510669646064849791121253297262772593628558146518922571314224774706824771862782781821119342457285161606815598434020342161098919414285405380323240828428694216574682160156645704875092446192630396332402887093346533605763717250591470242811335265811932268005884197662926896573151083595881690950593133415027334427163124125629067090804917325358826896339098097940260870170707255953563236689731696817645437037786890654925809325773070212604009314646246177070413928742296328473753754009192914879789519208954060665733678362668932655142988442370722001475695120379605991160670980925961446027038582225515412368798852272514998879883452165273638456710614264011383056640625

In [104]:
#Calculando una raiz como la inversa de la exponencial
36 ** (1/5)

2.0476725110792193

In [105]:
pow(10,2)

100

In [106]:
pow(36,1/5)

2.0476725110792193

In [190]:
pow(36,1/2)

6.0

In [191]:
import math
math.sqrt(36)

6.0

In [192]:
7-6+2**3/4*5

11.0

In [108]:
#Division entera
25//8

3

In [109]:
int(1)

1

In [110]:
# Declarar un variable con un valor del tipo punto flotante

x = 24.0
print(x, type(x))

24.0 <class 'float'>

In [111]:
# Declarar una variable con un valor numérico usando la función float

x = float(24)
print(x, type(x))

24.0 <class 'float'>

In [112]:
# Declarar un variable con un valor del tipo complejo

var = 24 + 20j
print(var, type(var))

(24+20j) <class 'complex'>

In [113]:
# Declarar una variable con un un para de valores numéricos usando la función complex

var = complex(24, 20)
print(var, type(var))

(24+20j) <class 'complex'>

In [114]:
print(var.real)
print(var.imag)

24.0
20.0

In [115]:
pow(-1,1/2)

(6.123233995736766e-17+1j)

### Datos Booleanos

In [116]:
b1 = True
b2 = True
b3 = False

In [117]:
b1

True

In [118]:
#Negación
not b1

False

In [119]:
3 == 5   #igualdad

False

In [120]:
5 > 3

True

In [121]:
#Operador and: si ambas condiciones son verdaderas, todo es verdadero, cc es falso
b1 and b3

False

In [122]:
b1 and b2

True

In [123]:
#Operador or: si ambas condiciones son falsas, todo es falso, cc es verdadero
b2 or b3

True

In [124]:
not b2 or b3

False

In [125]:
#Operador xor: disyuncion exclusiva - si ambas condiciones son iguales es falso
b1 ^ b3

True

#### Operadores relacionales

In [126]:
3 == 4  # Igual que

False

In [127]:
3 != 4  # Distinto que

True

In [128]:
8 < 12  # Menor que

True

In [129]:
12 > 7  # Mayor que

True

In [130]:
12 <= 12  # Menor o igual que

True

In [131]:
4 >= 5  # Mayor o igual que

False

#### Operadores lógicos

In [132]:
5 == 7 and 7 < 12  #False and True

False

In [133]:
9 < 12 and 12 > 7  # True and True

True

In [134]:
9 < 12 and 12 > 15  # True and False

False

In [135]:
12 == 12 or 15 < 7  # True or False

True

In [136]:
7 > 5 or 9 < 12  # True or True

True

In [137]:
12 == 13 or 15 < 7  # False or False

False

### Datos String

In [138]:
'Hola Data Science - FUTURA'

'Hola Data Science - FUTURA'

In [139]:
"Hola Data Science - FUTURA"

'Hola Data Science - FUTURA'

In [140]:
'Este texto incluye unas ' ' '

'Este texto incluye unas  '

In [141]:
'Este texto incluye unas " " '

'Este texto incluye unas " " '

In [142]:
"Esta 'palabra' se encuentra escrita entre comillas simples"

"Esta 'palabra' se encuentra escrita entre comillas simples"

In [143]:
# \ es conocido el operador skip: permite volver literal un operador
"Esta \"palabra\" se encuentra escrita entre comillas dobles"

'Esta "palabra" se encuentra escrita entre comillas dobles'

In [144]:
'Esta \'palabra\' se encuentra escrita entre comillas simples'

"Esta 'palabra' se encuentra escrita entre comillas simples"

In [145]:
s1 = 'Hola, soy un string.'
s2 = "Yo también"

In [146]:
s1

'Hola, soy un string.'

In [147]:
type(s2)

str

## Casting de datos

Es la operación de cambio de tipo de dato entre variables:
- De int a float
- De int a str
- De float a str
- Viceversa

Tener en cuenta que un str se puede convertir a número (int o float) siempre que no tenga otros caracteres, es decir, solo puede estar compuesto por dígitos.

In [148]:
a

25

In [149]:
#De int a float

float(a)

25.0

In [150]:
a = float(a)

In [151]:
type(a)

float

In [152]:
a = int(a)

In [153]:
type(a)

int

In [154]:
#De int a str

str(a)

'25'

In [155]:
s1 = "Hola"

In [156]:
#Error, no se puede convertir a int

#int(s1)

In [194]:
#Solicitamos la edad y convertimos a int, puesto que la función input() siempre devuelve un str

edad = int(input("Ingrese la edad: "))
edad

35

In [195]:
type(edad)

int

In [196]:
edad + 5

40

Calcular el producto de 444...444 (150 dígitos) por 777...777 (300 dígitos). Sin escribir el número completo.

In [161]:
int('4' * 150) * int('7' * 300)

345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345678666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320988

1. Se replica el string '4' 150 veces.
2. Se convierte ese string de 150 caracteres a un entero con la operación de cast.
3. Se realiza el mismo proceso con el string '7'.
4. Se realiza el cálculo de la multiplicación sin problemas, ambos son enteros.

## Ingreso y Salida de datos

### Salida de datos: print

Es una instrucción que nos permite mostrar correctamente el valor de una cadena (u otros valores/variables) por pantalla.

In [197]:
"Visual .Net"
'Java'
'Pyhton'

'Pyhton'

In [163]:
print("Visual .Net")
print('Java')
print('Python')

Visual .Net
Java
Python

In [164]:
x = 18
y = 30

In [200]:
#Mostrar en pantalla: 2 formas

print("La variable x vale", x)
print(f"La variable x vale {x}") 
print("La variable x vale",x, "y la variable y vale: ",y)
print(f"la variable x vale: {x} y la variable y vale: {y}")

La variable x vale 18
La variable x vale 18
La variable x vale 18 y la variable y vale:  2
la variable x vale: 18 y la variable y vale: 2

In [166]:
print('Hola','como','estas')

Hola como estas

In [201]:
print("Hola")
print("Hola","Mundo")
print("Hola","Mundo", sep="***")
print("Hola","Mundo", end="***")

Hola
Hola Mundo
Hola***Mundo
Hola Mundo***

In [168]:
Nombre = "Luis"
edad = 30
print(Nombre, "tiene", edad, "años de edad.")

Luis tiene 30 años de edad.

In [169]:
print("000","Hola", sep = '')

000Hola

In [170]:
# usando operadores de formato
print("%s tiene %d años de edad." %(Nombre, edad))

# d, i   Entero
# f      Punto flotante como m.ddddd
# s      cadena o string

Luis tiene 30 años de edad.

In [171]:
print("%s es un alumno de %s que saco de nota %d." %('Lucas','IFB',16))

Lucas es un alumno de IFB que saco de nota 16.

In [172]:
precio = 24
item = "banano"
print("El %s cuesta %d centavos"%(item,precio))
print("El %+10s cuesta %5.2f centavos"%(item,precio))
print("El %+10s cuesta %10.2f centavos"%(item,precio))

El banano cuesta 24 centavos
El     banano cuesta 24.00 centavos
El     banano cuesta      24.00 centavos

In [173]:
# usando un diccionario de datos

diccitem = {"item":"banano","costo":24}
print("El %(item)s cuesta %(costo)7.1f centavos"%diccitem)

El banano cuesta    24.0 centavos

#### Asignación múltiple de variables

In [174]:
# impresión de datos de diferentes tipos
a='string'
b=15
c=True

In [175]:
print(a)
print(b)
print(c)

string
15
True

In [176]:
a, b, c = 'string', 15, True
print(a, b, c)

string 15 True

### Ingreso de datos: input

In [177]:
#Solicitar datos desde la pantalla (siempre se almacena siempre como un string)

nombre = input()

In [178]:
print(nombre)

diego

In [179]:
type(nombre)

str

In [180]:
# podemos agregarle un mensaje a la hora de ingresar datos

nombre = input("Por favor ingrese su nombre ")

In [202]:
numero = int(input("Ingrese un número "))
print(numero)

33337

In [183]:
type(numero)

int

In [205]:
numero = int(input("Ingrese un número "))
numero

5645645

In [206]:
#Eliminar una variable

del nombre

NameError: name 'nombre' is not defined

In [186]:
print(nombre)

NameError: name 'nombre' is not defined

#### Ejemplos adicionales:

In [207]:
nombre = input("¿Cómo se llama?")
print(f"Me alegro de conocerle, {nombre}")

Me alegro de conocerle, Diego

De forma predeterminada, la función input() convierte la entrada en una cadena, aunque escribamos un número. Si intentamos hacer operaciones, se producirá un error.

In [209]:
cantidad = input("Dígame una cantidad en pesetas: ")
print(f"{cantidad} pesetas son {round(cantidad / 166.386, 2)} euros")

# f permite imprimir cadenas formateadas

TypeError: unsupported operand type(s) for /: 'str' and 'float'

Si se quiere que Python interprete la entrada como un número entero, se debe utilizar la función int() de la siguiente manera:

In [210]:
cantidad = int(input("Dígame una cantidad en pesetas: "))
print(f"{cantidad} pesetas son {round(cantidad / 166.386, 2)} euros")

435 pesetas son 2.61 euros

In [211]:
cantidad = int(input("Dígame una cantidad en soles: "))
print(f"{cantidad} soles son {round(cantidad / 4.10, 2)} dolares")

565 soles son 137.8 dolares

De la misma manera, para que Python interprete la entrada como un número decimal, se debe utilizar la función float() de la siguiente manera:

In [212]:
cantidad = float(input("Dígame una cantidad en euros (hasta con 2 decimales): "))
print(f"{cantidad} euros son {round(cantidad * 166.386)} pesetas")

45.6 euros son 7587 pesetas

La función input() sólo puede tener un argumento:

In [213]:
nombre = input("Dígame su nombre: ")
apellido = input(f"Dígame su apellido, {nombre}: ")
print(f"Me alegro de conocerle, {nombre} {apellido}.")

Me alegro de conocerle, Diego Suarez.

In [214]:
numero1 = int(input("Dígame un número: "))
numero2 = int(input(f"Dígame un número mayor que {numero1}: "))
print(f"La diferencia entre ellos es {numero2 - numero1}.")

La diferencia entre ellos es 111.

## Importación de librerías

In [215]:
#importar toda la librería con sus funciones
import numpy as np

In [216]:
#sólo importar la(s) funcion(es) que se seleccionen de una determinada libería
from numpy import sqrt as raiz

In [217]:
#Llamando a la función log que se encuentra en numpy (alias np)
np.log(47)

3.8501476017100584

In [218]:
#Llamando a la función sqrt con el alias de raiz (declarado en la importación de librerías)
raiz(100)

10.0

In [219]:
np.sqrt(100)

10.0

In [220]:
# asignación de una función a una variable (renombrar una función)
a = np.sqrt

In [221]:
a(100)

10.0

In [222]:
# instalación de una librería en jupyther notebook
#!pip install pydataset
pip install pydataset

SyntaxError: invalid syntax (3723200783.py, line 3)